<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.ChuanGanQiMapper">
<select id="querySensorList" parameterType="java.util.HashMap" resultType="com.zyiot.entity.ChuanGanQiFormMap">
SELECT
	t.id  ,
	t.cIp,
	t.cPort,
	t.lx,
	t.zl,
	t. NAME sensorName,
	c. NAME houseName,
	c.id houseID,
	c.location_id locationID
FROM
	t_chuanganqi t
LEFT JOIN t_cangkudianwei c ON t.cangkudianwei_id = c.id
	<if test="id !='' and id!=null ">
	where t.id=${id}
</if>
</select>
<insert id="addSensor" parameterType="java.util.HashMap">
INSERT INTO t_chuanganqi ( cIp, cPort, lx, zl, name, cangkudianwei_id) VALUES ( #{ip}, #{port}, #{lx}, #{zl}, #{name}, #{houseID})
</insert>

<update id="updateSensor" parameterType="java.util.HashMap">
UPDATE t_chuanganqi SET cIp=#{ip}, cPort=#{port}, lx=#{lx}, zl=#{zl}, name=#{name}, cangkudianwei_id=#{houseID} WHERE id=#{id}
</update>

<select id="queryHouse" parameterType="java.util.HashMap" resultType="com.zyiot.entity.ChuanGanQiFormMap">
	SELECT id,name FROM t_cangkudianwei where location_id=${location}
</select>
</mapper>
