<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.UserLoginLogMapper">

<select id="findLoginLogByPage" resultType="com.zyiot.entity.UserLoginLogFormMap">

select accountName ,loginTime ,loginIP,description from t_login_log where 1=1
<if test="accountName !='' and accountName!=null ">
	and accountName = #{accountName}
</if>
<if test="loginIP !='' and loginIP!=null ">
	and loginIP Like '%${loginIP}%'
</if>
<if test="description !='' and description!=null ">
	and description Like '%${description}%'
</if>
<if test="orderby!=''and orderby!=null">
	${orderby}
</if>
</select>

</mapper>