<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.zijinguankong.ZiJinJieSuanMapper">

<select id="findByPage" resultType="com.zyiot.entity.zijinguankong.ZiJinJieSuanFormMap">
select tbb.*,
tc1.text variety,
tc2.text category,
tc3.text grade
from 
t_bankroll_balance as tbb,
t_codeitem as tc1,
t_codeitem as tc2,
t_codeitem as tc3
where tbb.bbAssortment = tc1.id AND
tc1.codeid = 12 AND
tbb.bbQuality = tc2.id AND
tc2.codeid = 11 AND
tbb.bbGrade = tc3.id AND
tc3.codeid = 10

<if test="bbBill !=null and bbBill !=''">
and tbb.bbBill like '%${bbBill}%'
</if>
<if test="orderby !=null and orderby !=''">
${orderby}
</if>
</select>

<select id="findZiJinJieSuanById" resultType="com.zyiot.entity.zijinguankong.ZiJinJieSuanFormMap">
select * from t_bankroll_balance where id=#{0}
</select>
</mapper>