<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.shebeiguanli.DaXingSheBeiFuJianMapper">
<sql id="selectId">
id,
leaName,
leaStandard,
leaNumber,
version
</sql>
<select id="findByPage" resultType="com.zyiot.entity.shebeiguanli.DaXingSheBeiFuJianFormMap">
select <include refid="selectId"></include> from t_large_equipment_appendix where version=1 
and leaDataOperator = ${leaDataOperator}
<if test="leSon !=null and leSon !=''">
or id in (${leSon})
</if>
<if test="orderby !=null and orderby !=''">
${orderby}
</if>
</select>
<update id="updateVersion">
  update t_large_equipment_appendix set version=2 where id=#{0}
</update>
<delete id="clearNotUsedData">
  delete from t_large_equipment_appendix where version = 1 and leaDataOperator=#{0}
</delete>

<select id="findByleId" resultType="com.zyiot.entity.shebeiguanli.DaXingSheBeiFuJianFormMap">
select <include refid="selectId"></include> from t_large_equipment_appendix where id in 
    <foreach item="tempId" collection="list" open="(" separator="," close=")">
        #{tempId}
    </foreach>
</select>
</mapper>

