<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.BusinessManagerMapper">
<select id="findAgreements" parameterType="java.util.HashMap" resultType="com.zyiot.entity.BusinessAgreementFormMap">
	SELECT tba.*,twgp.text propertyName,twgv.text varietyName FROM t_business_agreement  as tba LEFT JOIN
    t_weight_grain_property as twgp ON tba.property = twgp.id LEFT JOIN
    t_weight_grain_variety as twgv ON tba.breed = twgv.id
    WHERE 1=1 
	<if test="agreementID !='' and agreementID !=null ">
	and tba.agreementID=#{agreementID}
	</if>
	<if test="buy !='' and buy!=null ">
	and tba.buyOnes like CONCAT('%', #{buy}, '%')
	</if>
	<if test="sold !='' and sold!=null ">
	and tba.soldOnes like CONCAT('%', #{sold}, '%')
	</if>
</select>
<select id="findHouses" parameterType="java.util.HashMap" resultType="com.zyiot.entity.WarehouseLocationFormMap">
SELECT
	w.*
FROM
	t_warehouse_location l
RIGHT JOIN t_warehouse w ON l.id = w.wLocation
WHERE
	l.wNo = #{wno}
</select>

<select id="updateA" parameterType="java.util.HashMap" resultType="com.zyiot.entity.BusinessAgreementFormMap">
	UPDATE t_business_agreement SET states = #{state}, files =#{files} 
	WHERE  (id = #{dataid})
</select>
<select id="findAllAgreementBill" resultType="com.zyiot.entity.BusinessAgreementFormMap">
	SELECT id,agreementID FROM t_business_agreement
</select>
</mapper>