<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyiot.mapper.cunchuguanli.CangRongFenPeiMapper">

<select id="findByPage" resultType="com.zyiot.entity.cunchuguanli.CangRongFenPeiFormMap">
select 
twsc.*,
twl.wName wlName,
tw.wName 
from t_warehouse_storage_capacity as twsc LEFT JOIN t_warehouse as tw on twsc.wscId=tw.id LEFT JOIN t_warehouse_location as twl
ON tw.wLocation=twl.id where 1=1
<if test="wLNo !=null and wLNo !=''">
and twl.id =#{wLNo}
</if>
<if test="wNo !=null and wNo !=''">
and tw.id =#{wNo}
</if>
<if test="orderby !=null and orderby !=''">
${orderby}
</if>
</select>
<select id="findCangRongFenPeiById" resultType="com.zyiot.entity.cunchuguanli.CangRongFenPeiFormMap">
select twsc.*,
tw.wLocation  from (select * from t_warehouse_storage_capacity where id = #{0}) as twsc LEFT JOIN
(select id,wLocation from t_warehouse) as tw ON twsc.wscId = tw.id
</select>
</mapper>

